@font-face {
    font-family: 'Avenir LT Pro 55 Heavy';
    src: url('../fonts/AvenirLTPro-Heavy.eot');
    src: url('../fonts/AvenirLTPro-Heavy.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/AvenirLTPro-Heavy.woff2') format('woff2'), 
    url('../fonts/AvenirLTPro-Heavy.woff') format('woff'), 
    url('../fonts/AvenirLTPro-Heavy.ttf') format('truetype'), 
    url('../fonts/AvenirLTPro-Heavy.svg#AvenirLTPro-Heavy') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.font-family-Heavy{
  font-family: 'Avenir LT Pro 55 Heavy';
}

@font-face {
    font-family: 'Avenir LT Pro Medium';
    src: url('../fonts/AvenirLTPro-Medium.eot');
    src: url('../fonts/AvenirLTPro-Medium.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/AvenirLTPro-Medium.woff2') format('woff2'), 
    url('../fonts/AvenirLTPro-Medium.woff') format('woff'), 
    url('../fonts/AvenirLTPro-Medium.ttf') format('truetype'), 
    url('../fonts/AvenirLTPro-Medium.svg#AvenirLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.font-family-Medium{
  font-family: 'Avenir LT Pro Medium';
}

@font-face {
    font-family: 'Avenir LT Pro Book';
    src: url('../fonts/AvenirLTPro-Book.eot');
    src: url('../fonts/AvenirLTPro-Book.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/AvenirLTPro-Book.woff2') format('woff2'), 
    url('../fonts/AvenirLTPro-Book.woff') format('woff'), 
    url('../fonts/AvenirLTPro-Book.ttf') format('truetype'), 
    url('../fonts/AvenirLTPro-Book.svg#AvenirLTPro-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.font-family-Book{
  font-family: 'Avenir LT Pro Book';
}

@font-face {
    font-family: 'Avenir LT Pro Light';
    src: url('../fonts/AvenirLTPro-Light.eot');
    src: url('../fonts/AvenirLTPro-Light.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/AvenirLTPro-Light.woff2') format('woff2'), 
    url('../fonts/AvenirLTPro-Light.woff') format('woff'), 
    url('../fonts/AvenirLTPro-Light.ttf') format('truetype'), 
    url('../fonts/AvenirLTPro-Light.svg#AvenirLTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
.font-family-Light{
  font-family: 'Avenir LT Pro Light';
}

@font-face {
    font-family: 'Avenir LT Pro Roman';
    src: url('../fonts/AvenirLTPro-Roman.eot');
    src: url('../fonts/AvenirLTPro-Roman.eot#iefix') format('embedded-opentype'), 
    url('../fonts/AvenirLTPro-Roman.woff2') format('woff2'), 
    url('../onts/AvenirLTPro-Roman.woff') format('woff'), 
    url('../fonts/AvenirLTPro-Roman.ttf') format('truetype'), 
    url('../fonts/AvenirLTPro-Roman.svg#AvenirLTPro-Roman') format('svg');
    font-weight normal;
    font-style normal;
    font-display swap;
}
.font-family-Roman{
  font-family: 'Avenir LT Pro Roman';
}

@font-face {
    font-family: 'Avenir LT Pro 65 Black';
    src: url('../fonts/AvenirLTPro-Black.eot');
    src: url('../fonts/AvenirLTPro-Black.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/AvenirLTPro-Black.woff2') format('woff2'), 
    url('../fonts/AvenirLTPro-Black.woff') format('woff'), 
    url('../fonts/AvenirLTPro-Black.ttf') format('truetype'), 
    url('../fonts/AvenirLTPro-Black.svg#AvenirLTPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
.font-family-Black{
  font-family: 'Avenir LT Pro 65 Black';
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
}
.search{
  background-color: #F8F8F8;
  max-width: 446px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}
.search-img{
  width: 24px;
  height: 24px;
  background-color: #F8F8F8;
}
.search-input{
  border: none;
  background-color: #F8F8F8;
  outline: none;
  font-size: 14px;
  padding-left: 20px;
}
.search-button{
  border: none;
  cursor: pointer;
  padding-right: 20px;
  background-color: #F8F8F8;
}
.div-account{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.a-account{
  color: #FF2288;
  text-decoration: none;
  font-size: 14px;
  padding-right: 5px;
}
.img-account{
  max-width: 24px;
  max-height: 24px;
}
.return-link-img{
  max-width: 24px;
  max-height: 24px;
}
.main-account-photo{
  width: 56px;
  height: 56px;
}
.button-account{
  border: none;
  cursor: pointer;
  background-color: #FF2288;
  color: #FFFFFF;
  font-size: 14px;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 36px;
  border-radius: 12px;
}







.fixed-header {
  width: 319px;
  max-height: 1080px;
  height: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-right: 30px;
  padding-bottom: 106px;
  padding-left: 30px;
/*  position: fixed;*/
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 106px;
}
.logo {
  max-width: 146px;
  height: 32px;
}
.dropping-pages{
  width: 26px;
  height: 11px;
}
ul {
  list-style: none;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  border-radius: 12px;
}
.menu-img {
  width: 24px;
  height: 24px;
}
.menu-item.active {
  background-color: #FF2288;
}
.menu-item:hover {
  background-color: #333333;
}
.following-title {
  margin-top: 69px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}
.following-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 31px;
  padding-bottom: 19px;
}
.following-item {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
}
.following-img {
  height: 44px;
  width: 44px;
}
.following-item:hover {
  background-color: #333333;
}
.following-p{
  font-size: 16px;
}
.load-more {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.load-more:hover {
  text-decoration: underline;
}
.translate{
  padding-left: 30px;
}






.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 14px;
}
.selected{
  background-color: #F2F2F2;
  border-radius: 12px;
}
.nav-item {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 19px;
  padding-left: 18px;
}
.nav-item:hover{
  background-color: #F2F2F2;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}
.nav-text{
  font-size: 16px;
  color: #222222;
}
.nav-link {
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.filter-container {
    display: flex;
    align-items: center;
}
.filter-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222222;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 18px;
    font-size: 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    background-color: #FFFFFF;
    border: 1px solid #D8D8D8;
}
.filter-label{
  padding-left: 15px;
}
.filter-btn:hover {
    background-color: #F2F2F2;
}
.filter-icon {
    width: 24px;
    height: 24px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 40px;
}
.card {
  background-color: white;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 289px;
}
.card:hover {
  transform: scale(1.05);
}
.card-img {
  max-width: 289px;
  width: 100%;
  max-height: 210px;
  height: 100%;
  box-shadow: 0px 0px 20px #5B5EBA1F;
}
.card-title {
  font-size: 18px;
  color: #222222;
  margin-top: 16px;
}

.load-more {
    margin-top: 70px;
    margin-bottom: 137px;
}
.load-more-button {
  display: ;
    background-color: #F2F2F2;
    color: #333;
    padding-top: 16px;
    padding-right: 108px;
    padding-bottom: 19px;
    padding-left: 105px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.load-more-button:hover {
    background-color: #e5e7eb;
    color: #000;
}












.div-h1 {
  font-size: 32px;
  color: #222222;
}
.view-all{
  font-size: 14px;
  color: #222222;
  opacity: 0.3;
}
section a {
  text-decoration: none;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}
.designers {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.designer {
  text-align: center; 
  flex-shrink: 0;
  transition: transform 0.2s;
}
.designer:hover {
  transform: scale(1.05);
}
.designer-img {
  width: 132px;
  height: 132px;
  margin-bottom: 15px;
}
.designer-button {
  display: inline-block;
  background-color: #FAFAFA;
  color: #222222;
  border: 1px solid #D8D8D8;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 36px;
  padding-bottom: 13px;
  padding-left: 33px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.designer-button:hover {
  background-color: #EAEAEA;
}
h3{
  font-size: 16px;
  color: #222222;
  text-align: center;
}
h4{
  font-size: 16px;
  color: #222222;
  text-align: center;
  margin-bottom: 10px;
}
h5{
  letter-spacing: 0.36px;
  color: #222222;
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 17px;
}
.margin-h3{
  margin-bottom: 31px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-column {
  flex: 1;
  margin-bottom: 36px;
}
.footer-p{
  font-size: 16px;
  margin-bottom: 36px;
  color: #222222;
}
footer ul {
  list-style-type: none;
}
footer li {
  margin-bottom: 14px;
}
footer ul li a {
  text-decoration: none;
  color: #222222;
  font-size: 16px;
}
footer ul li a:hover {
  color: #0073e6;
}
.padding{
  padding-bottom: 25px;
}
.margin{
  margin-bottom: 113px;
}
.footer-img{
  width: 24px;
  height: 24px;
}
.contact{
  display: flex;
  align-items: center;
  gap: 20px;
}
.owner{
  display: flex;
  align-items: center;
  gap: 3px;
}
.dark{
  font-weight: bold;
}
.flex-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
}