*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1099px;
  max-width: 100%;
  padding: 0 16px;
}
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
}
.search{
  background-color: #F8F8F8;
  max-width: 446px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}
.search-img{
  width: 24px;
  height: 24px;
  background-color: #F8F8F8;
}
.search-input{
  border: none;
  background-color: #F8F8F8;
  outline: none;
  font-size: 14px;
  padding-left: 20px;
}
.search-button{
  border: none;
  cursor: pointer;
  padding-right: 20px;
}
.div-account{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.a-account{
  color: #FF2288;
  text-decoration: none;
  font-size: 14px;
  padding-right: 5px;
}
.img-account{
  max-width: 24px;
  max-height: 24px;
}
.return-link-img{
  max-width: 24px;
  max-height: 24px;
}
.border{
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7E7E700;
  border: 2px solid #E7E7E7;
  border-radius: 28px;
}
.button-account{
  border: none;
  cursor: pointer;
  background-color: #FF2288;
  color: #FFFFFF;
  font-size: 14px;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 36px;
  border-radius: 12px;
}




.fixed-header {
  width: 319px;
  max-height: 1080px;
  height: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-right: 30px;
  padding-bottom: 106px;
  padding-left: 30px;
/*  position: fixed;*/
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 106px;
}
.logo {
  max-width: 146px;
  height: 32px;
}
.dropping-pages{
  width: 26px;
  height: 11px;
}

ul {
  list-style: none;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  border-radius: 12px;
}

.menu-img {
  width: 24px;
  height: 24px;
}

.menu-item.active {
  background-color: #FF2288;
}

.menu-item:hover {
  background-color: #333333;
}

.following-title {
  margin-top: 69px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}

.following-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 31px;
  padding-bottom: 19px;
}

.following-item {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
}

.following-img {
  height: 44px;
  width: 44px;
}

.following-item:hover {
  background-color: #333333;
}
.following-p{
  font-size: 16px;
}

.load-more {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.load-more:hover {
  text-decoration: underline;
}
.translate{
  padding-left: 30px;

}




















table{
  width: 100%;
  border-collapse: collapse;
}
th{
  color: #111111;
  font-size: 18px;
}
th, td{
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  transition: color 0.3s ease, border-color 0.3s ease;
}
tr{
  color: #AFAFAF;
  font-size: 16px;          
  border-bottom: 1px solid #ddd;
}
th:nth-child(1) {
  width: 168px;
}
th:nth-child(2) {
  width: 169px;
}
th:nth-child(3) {
  width: 167px;
}
th:nth-child(4) {
  width: 167px;
}
th:nth-child(5) {
  width: 167px;
}
th:nth-child(6) {
 width: 169px;
}
tr:hover{
  background-color: #F2F2F2;
}
tr:hover td {
  color: #222222;
}
.color{
  color: #FF2288;
}
.color:hover .td-color{
  color: #FF2288;
}