@font-face {
  font-family: 'Avenir LT Pro 55 Heavy';
  src: url('../fonts/AvenirLTPro-Heavy.eot');
  src: url('../fonts/AvenirLTPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTPro-Heavy.woff2') format('woff2'),
    url('../fonts/AvenirLTPro-Heavy.woff') format('woff'),
    url('../fonts/AvenirLTPro-Heavy.ttf') format('truetype'),
    url('../fonts/AvenirLTPro-Heavy.svg#AvenirLTPro-Heavy') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.font-family-Heavy {
  font-family: 'Avenir LT Pro 55 Heavy';
}

@font-face {
  font-family: 'Avenir LT Pro Medium';
  src: url('../fonts/AvenirLTPro-Medium.eot');
  src: url('../fonts/AvenirLTPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTPro-Medium.woff2') format('woff2'),
    url('../fonts/AvenirLTPro-Medium.woff') format('woff'),
    url('../fonts/AvenirLTPro-Medium.ttf') format('truetype'),
    url('../fonts/AvenirLTPro-Medium.svg#AvenirLTPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.font-family-Medium {
  font-family: 'Avenir LT Pro Medium';
}

@font-face {
  font-family: 'Avenir LT Pro Book';
  src: url('../fonts/AvenirLTPro-Book.eot');
  src: url('../fonts/AvenirLTPro-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTPro-Book.woff2') format('woff2'),
    url('../fonts/AvenirLTPro-Book.woff') format('woff'),
    url('../fonts/AvenirLTPro-Book.ttf') format('truetype'),
    url('../fonts/AvenirLTPro-Book.svg#AvenirLTPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-family-Book {
  font-family: 'Avenir LT Pro Book';
}

@font-face {
  font-family: 'Avenir LT Pro Light';
  src: url('../fonts/AvenirLTPro-Light.eot');
  src: url('../fonts/AvenirLTPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTPro-Light.woff2') format('woff2'),
    url('../fonts/AvenirLTPro-Light.woff') format('woff'),
    url('../fonts/AvenirLTPro-Light.ttf') format('truetype'),
    url('../fonts/AvenirLTPro-Light.svg#AvenirLTPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.font-family-Light {
  font-family: 'Avenir LT Pro Light';
}

@font-face {
  font-family: 'Avenir LT Pro Roman';
  src: url('../fonts/AvenirLTPro-Roman.eot');
  src: url('../fonts/AvenirLTPro-Roman.eot#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTPro-Roman.woff2') format('woff2'),
    url('../onts/AvenirLTPro-Roman.woff') format('woff'),
    url('../fonts/AvenirLTPro-Roman.ttf') format('truetype'),
    url('../fonts/AvenirLTPro-Roman.svg#AvenirLTPro-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-family-Roman {
  font-family: 'Avenir LT Pro Roman';
}

@font-face {
  font-family: 'Avenir LT Pro 65 Black';
  src: url('../fonts/AvenirLTPro-Black.eot');
  src: url('../fonts/AvenirLTPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTPro-Black.woff2') format('woff2'),
    url('../fonts/AvenirLTPro-Black.woff') format('woff'),
    url('../fonts/AvenirLTPro-Black.ttf') format('truetype'),
    url('../fonts/AvenirLTPro-Black.svg#AvenirLTPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.font-family-Black {
  font-family: 'Avenir LT Pro 65 Black';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: grid;
  grid-template-columns: 16.5% 83.5%;
  grid-template-areas:
    "LEFT RIGHT"

}

.div-left {
  grid-area: LEFT;
  position: fixed;
}

.div-right {
  grid-area: RIGHT;
}



.header-container {
  max-width: 1485px;
  width: 100%;
  padding-left: 30px;
}

.header-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 71px;
  padding-top: 30px;
}

.search {
  background-color: #F8F8F8;
  max-width: 446px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.search-img {
  width: 24px;
  height: 24px;
  background-color: #F8F8F8;
}

.search-input {
  border: none;
  background-color: #F8F8F8;
  outline: none;
  font-size: 14px;
  padding-left: 20px;
  opacity: 0.5;
}

.search-button {
  border: none;
  cursor: pointer;
  padding-right: 20px;
  background-color: #F8F8F8;
}

.div-account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.a-account {
  color: #FF2288;
  text-decoration: none;
  font-size: 14px;
  padding-right: 5px;
}

.img-account {
  max-width: 24px;
  max-height: 24px;
}

.return-link-img {
  max-width: 24px;
  max-height: 24px;
}

.border {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7E7E700;
  border: 2px solid #E7E7E7;
  border-radius: 28px;
}

.button-account {
  border: none;
  cursor: pointer;
  background-color: #FF2288;
  color: #FFFFFF;
  font-size: 14px;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 36px;
  border-radius: 12px;
}








.fixed-header {
  width: 319px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-right: 30px;
  padding-bottom: 106px;
  padding-left: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 106px;
}

.logo {
  max-width: 146px;
  height: 32px;
}

.dropping-pages {
  width: 26px;
  height: 11px;
}

ul {
  list-style: none;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  border-radius: 12px;
}

.menu-img {
  width: 24px;
  height: 24px;
}

.menu-item.active {
  background-color: #FF2288;
}

.menu-item:hover {
  background-color: #333333;
}

.following-title {
  margin-top: 69px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}

.following-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 31px;
  padding-bottom: 19px;
}

.following-item {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
}

.following-img {
  height: 44px;
  width: 44px;
}

.following-item:hover {
  background-color: #333333;
}

.following-p {
  font-size: 16px;
}

.load-more-left {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.load-more-left:hover {
  text-decoration: underline;
}

.translate {
  padding-left: 30px;
}












.section-container {
  max-width: 1231px;
  width: 100%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  color: #111111;
  font-size: 18px;
}

th,
td {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr {
  color: #AFAFAF;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

th:nth-child(1) {
  width: 168px;
}

th:nth-child(2) {
  width: 169px;
}

th:nth-child(3) {
  width: 167px;
}

th:nth-child(4) {
  width: 167px;
}

th:nth-child(5) {
  width: 167px;
}

th:nth-child(6) {
  width: 169px;
}

tr:hover {
  background-color: #F2F2F2;
}

tr:hover td {
  color: #222222;
}

.color {
  color: #FF2288;
}

.color:hover .td-color {
  color: #FF2288;
}

.underline {
  border-bottom: none;
}











.footer-container {
  max-width: 1231px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 131px;
}

.footer-column {
  flex: 1;
  margin-bottom: 36px;
}

.footer-h6 {
  font-size: 16px;
  margin-bottom: 36px;
  color: #222222;
  font-family: 'Avenir LT Pro 55 Heavy';
}

footer ul {
  list-style-type: none;
  font-family: 'Avenir LT Pro Book';
}

footer li {
  margin-bottom: 14px;
}

footer ul li a {
  text-decoration: none;
  color: #222222;
  font-size: 16px;
}

footer ul li a:hover {
  color: #0073e6;
}

.padding {
  padding-bottom: 25px;
}

.margin {
  margin-bottom: 77px;
}

.footer-img {
  width: 24px;
  height: 24px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.owner {
  display: flex;
  align-items: center;
  gap: 3px;
}

.flex-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}













/* ////////////////// */

.h_nav {
  display: flex;
}

header {
  z-index: 999;
}

.links-container {
  height: 100%;
}

#sidebar-active,
.div-left_side {
  display: none;
}

.close-sidebar {
  fill: white;
  height: 50px;
  width: 50px;
  display: none;
  justify-content: center;
}

.close-sidebar svg {
  height: 50px;
}

.open-sidebar-button2 {
  display: none;
  position: absolute;
  top: 5%;
  left: 1.5%;
}

.close-sidebar-button,
.chamonatvali {
  display: none;
}

.h_nav_R_L_N {
  padding-bottom: 20px;
}